<% layout('layout/boilerplate') %>
<div class="error-wrap">
  <div>
    <div class="error-num"><%= status %></div>
    <p class="error-msg"><%= title %></p>
    <p class="error-sub"><%= message %></p>
    <a href="/" class="btn btn-outline">Go home</a>
  </div>
</div>
